@model IEnumerable<LibraryManagementSystem.Models.tblcategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



@if (Model.Count() > 0)
{
    <div>Good</div>
}
else
{
<div class="alert alert-info" role="alert">
    No Results To Show 
    @Html.ActionLink("Create New", "Create")
</div>
}







